#steps-indicator {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;

    .step {
        font-size: 1rem;
        display: flex;
        margin: 2rem 3rem;

        &:first-child {
            margin-top: 3rem;
        }

        #index {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            display: grid;
            place-items: center;
            margin-right: 1rem;
            background-color: rgb(72, 62, 255);
            color: rgb(190, 225, 253);
            border: solid 1.5px rgb(190, 225, 253);
            font-family: "Ubuntu Bold";
        }

        #step-infos {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            margin: 0;
            padding: 0;

            #step-index {
                color: grey;
            }

            #desc {
                font-family: "Ubuntu Bold";
            }
        }
    }
}

//rgb(190, 225, 253)