@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#step-1 {
  width: 57%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-left: 6rem;
  animation: fade-in 1000ms ease-in-out forwards;

  #headers-container {
    margin: 2rem 0;
    height: 25%;

    #header {
      font-family: "Ubuntu Bold";
      font-size: 2rem;
      color: rgb(1, 41, 92);
    }

    #header-desc {
      font-size: 1rem;
      font-family: "Ubuntu Regular";
      color: rgba(128, 128, 128, 0.628);
      margin-top: 0.5rem;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-family: "Ubuntu Medium";
    width: 85%;
    margin: 1rem 0;
    color: rgb(1, 41, 92);

    .label-line {
      width: 100%;
      display: flex;
      justify-content: space-between;

      div {
        color: rgb(212, 64, 80);
      }
    }

    input {
      margin-top: 0.5rem;
      height: 2.75rem;
      border-radius: 0.5rem;
      border: solid 1.5px rgba(128, 128, 128, 0.431);
      font-family: "Ubuntu Medium";
      width: calc(100% - 1rem);
      padding-left: 1rem;
      color: rgb(1, 41, 92);

      &:focus {
        border: solid 1.5px rgb(1, 41, 92);
        font-family: "Ubuntu Bold";
      }
    }
  }

  #actions {
    width: 86%;
    height: 25%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2rem;

    #next-step {
      background-color: rgb(1, 41, 92);
      color: white;
      font-family: "Ubuntu Bold";
      height: 3rem;
      width: 7rem;
      border: none;
      border-radius: 0.5rem;
      transition: all 500ms;
      cursor: pointer;

      &:hover {
        background-color: rgb(23, 74, 139);
      }
    }
  }
}

#actions-mobile {
  width: 86%;
  height: 25%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2rem;

  #go-back-mobile {
    border: none;
    background-color: white;
    color: rgb(1, 41, 92);
    font-family: "Ubuntu Bold";
    height: 3rem;
    width: 7rem;
    cursor: pointer;
  }

  #next-step-mobile {
    background-color: rgb(1, 41, 92);
    color: white;
    font-family: "Ubuntu Bold";
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 500ms;
    cursor: pointer;

    &:hover {
      background-color: rgb(23, 74, 139);
    }
  }
  display: none;
}

@media (max-width: 416px) {
  .error {
    font-size: 0.75rem;
  }

  #step-1 {
    background-color: white;
    width: 90%;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    height: unset;

    #headers-container {
      margin: 2rem 2rem 1rem 2rem;
    }
    #actions {
      display: none;
    }
  }

  #actions-mobile {
    display: flex;
    width: 95%;
    justify-content: space-between;

    #go-back-mobile {
      background-color: transparent;
    }
  }
}
